<!--
Include all scripts required here
-->
<!--
CodeMirror
-->
<script src="scripts/codemirror/codemirror.js"></script>
<script src="scripts/codemirror/matchbrackets.js"></script>
<script src="scripts/codemirror/closebrackets.js"></script>
<script src="scripts/codemirror/show-hint.js"></script>
<script src="scripts/codemirror/clike.js"></script>
<script src="scripts/codemirror/kotlin.js"></script>


<!--
Custom
-->
<script src="scripts/lib/jquery-1.7.1.min.js"></script>
<script src="scripts/lib/bootstrap.min.js"></script>
<script src="scripts/button.js"></script>
<script src="scripts/resultsContainer.js"></script>
<script src="scripts/compiler.js"></script>
<script src="scripts/analyzer.js"></script>
<script src="scripts/common.js"></script>
<script src="scripts/kotlinEditor.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery.toc.min.js"></script>
{% if site.google_analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
    var _gaq = _gaq || [];
    var pluginUrl =
            '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endif %}